{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h1>
      Soffit
    </h1>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "phone_callbac"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
<div  class="{{layoutClass}} {{layoutAlignClass}}">
  <div class="one shadow">
    <div class="layout-row">
      <div class="flex"></div>
      <div class="flex-80">
        <div class="layout-row layout-xs-column">
          <div class="layout-row flex-xs flex-gt-xs-50">
            {{#paper-card as |card|}}
              {{card.image src="/assets/images/mat.png"}}
              {{#card.title as |title|}}
                {{#title.text as |text|}}
                  {{#text.headline}}Маовые потолки{{/text.headline}}
                {{/title.text}}
              {{/card.title}}
              {{#card.content}}
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              {{/card.content}}
              {{#card.actions}}
                {{#paper-button}}Пример{{/paper-button}}
                {{#paper-button}}Просчитать{{/paper-button}}
              {{/card.actions}}
            {{/paper-card}}
          </div>
          <div class="layout-row flex-xs flex-gt-xs-50">
            {{#paper-card as |card|}}
              {{card.image src="/assets/images/mat.png"}}
              {{#card.title as |title|}}
                {{#title.text as |text|}}
                  {{#text.headline}}Сатиновые потолки{{/text.headline}}
                {{/title.text}}
              {{/card.title}}
              {{#card.content}}
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              {{/card.content}}
              {{#card.actions}}
                {{#paper-button}}Пример{{/paper-button}}
                {{#paper-button}}Просчитать{{/paper-button}}
              {{/card.actions}}
            {{/paper-card}}
          </div>
          <div class="layout-row flex flex-gt-xs-50">
            {{#paper-card as |card|}}
              {{card.image src="/assets/images/mat.png"}}
              {{#card.title as |title|}}
                {{#title.text as |text|}}
                  {{#text.headline}}Лаковые потолки{{/text.headline}}
                {{/title.text}}
              {{/card.title}}
              {{#card.content}}
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              {{/card.content}}
              {{#card.actions}}
                {{#paper-button}}Пример{{/paper-button}}
                {{#paper-button}}Просчитать{{/paper-button}}
              {{/card.actions}}
            {{/paper-card}}
          </div>
        </div>
      </div>
      <div class="flex"></div>
    </div>
  </div>
  <div class="two">
    <div class="layout-row layout-xs-column">
      <div class="flex"></div>
      <div class="flex-80">
        <p>
          <h2>Натяжные потолки</h2>
          это особая эстетика, сочетающая в себе уникальный внешний вид, удобство установки, легкость в обслуживании и долговечность эксплуатации.
        </p>
        <p>
          Вы хотите видеть звездное небо, или предпочитаете сдержанную классику пастельных цветов, приглушенный свет, отражающийся от потолка, или яркое дневное освещение - мы удовлетворим пожелания любого клиента с помощью наших натяжных потолков!
        </p>
        <p>
          <h2>Диапазон применения натяжных потолков – неограничен</h2>
          Гостиная, спальня или ванная комната, ресторан или бассейн, концертный зал или галерея современного искусства – ведущие дизайнеры мира давно убедились в универсальности и многоликости натяжных потолков от ведущих производителей.
        </p>
        <p>
          <h2>Преимущества натяжных потолков – неоспоримы</h2>
          Они не деформируются при усадке новых домов, скрывают неровности старых потолков, влагостойкий, они абсолютно не бояться затопления, требуют минимального ухода и пожаробезопасны. На них не конденсируется влага и не осаждается пыль. Они экологически чистые и соответствуют высоким европейским стандартам.
        </p>
        <p>
          <h2>Мы используем</h2>
          Комплектующие только известных и проверенных временем поставщиков. Это дает нам возможность гарантировать срок эксплуатации наших натяжных потолков не менее 10 лет. Стабильность, безупречный сервис и профессионализм команды - вот основные критерии, благодаря которым наши клиенты выбирают натяжные потолки <strong>Soffit</strong>.
        </p>
        <p>
          <h2>Мы предлагаем</h2>
          Полную линию продукции, как для профессионалов дизайна (архитекторов, декораторов, дизайнеров внутреннего интерьеру), так и простых пользователей.
        </p>
        <p>
          <h2>Мы уважаем наших клиентов и партнеров</h2>
          поэтому постоянно совершенствуем качество, расширяем ассортимент натяжных потолков. Вы останетесь довольны сотрудничеством с компанией  <strong>Soffit</strong>, и надеемся, вернетесь к нам еще не раз для воплощения в жизнь новой идеи.
        </p>
      </div>
      <div class="flex"></div>
    </div>
  </div>
  <div class="one shadow">
    <div class="layout-row layout-xs-column">
      <div class="flex"></div>
      <div class="flex-80">
        <p>
          <h3>{{paper-icon "call"}} Kyivstar: +380 (098) 895-64-98</h3>
          <h3>{{paper-icon "call"}} Kyivstar: +380 (098) 895-64-98</h3>
          <h3>{{paper-icon "call"}} Kyivstar: +380 (098) 895-64-98</h3>
        </p>
      </div>
      <div class="flex"></div>
    </div>
  </div>
</div>
{{outlet}}
